apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-flask
  labels:
    app: devops-flask
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devops-flask
  strategy:
    rollingUpdate:
      maxSurge: 20%
      maxUnavailable: 20%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: devops-flask
    spec:
      containers:
      - image: cloudacode/devops-flask:380c1cd4
        imagePullPolicy: Always
        name: devops-flask
        ports:
        - containerPort: 8000
          protocol: TCP
